## docker-compose configuration file for nextcloud web cloud
## 
## name this file docker-compose.yml 
## and edit the following values:
##
## DatabaseRootPassword
## DatabaseUserPassword
## your.codimd.domain
##

version: '2'

services:
  codimd-db:
    image: mariadb:10
    environment:
      ##############################################
      ## Edit the following values                ##
      ##############################################
      - MYSQL_ROOT_PASSWORD=DatabaseRootPassword
      - MYSQL_PASSWORD=DatabaseUserPassword
      ##############################################
      - MYSQL_DATABASE=hackmd
      - MYSQL_USER=hackmd
    volumes:
      - mariadb:/var/lib/mysql
      - ./resources/utf8.cnf:/etc/mysql/conf.d/utf8.cnf
    labels:
      - "traefik.enable=false"
    networks:
      - traefik_network
    restart: always

  codimd:
    image: hackmdio/hackmd:1.3.0
    environment:
      ##############################################
      ## Copy the value from codimd-db section    ##
      ##############################################
      - CMD_DB_URL=mysql://hackmd:DatabaseUserPassword@codimd-db:3306/hackmd
      ##############################################
    restart: always
    labels:
      ##############################################
      ## Edit the following value                 ##
      ##############################################
      - traefik.frontend.rule=Host:your.codimd.domain
      ##############################################
      - traefik.port=3000
      - traefik.frontend.passHostHeader=true
      - "traefik.frontend.entryPoints=http,https"
    depends_on:
      - codimd-db
    networks:
      - traefik_network
#    ports:
#      - "3000:3000"


networks:
  traefik_network:
    external:
      name: traefik_default


